html, body, .grid-container { 
  height: 100%; 
  margin: 0; 

  --color-border-darkgray: #0f0f0f;
  --color-border-gray: #505050;
  --color-lightgrey: #d8d8d8;
  --color-shadow-gray: #f0f0f0;

  --color-neum-light: #f2f2f2;
  --color-neum-mid: #e0e5ec;
  --color-neum-dark: #abbad1;

  --color-neum-mid-darker: #e0e5ec;

  background: var(--color-neum-mid);
}

.site-warning {
  background-color: rgb(255, 94, 94);
  padding-left: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1.0fr 1fr 0.4fr;
  grid-template-rows: 0.4fr 24px 2.5fr 0.2fr;
  gap: 20px 20px;
  grid-template-areas: "whitespace-left title title whitespace-right"
        "whitespace-left navigation navigation whitespace-right"
        "whitespace-left left-pane right-pane whitespace-right" 
        "footer footer footer footer";

  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

.title { 
  grid-area: title;
}

#logo-svg {
  width: 400px;
}

#site-title-div {
  /* border: 1px solid black; */
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "button-bar profile";
  grid-area: navigation;
  margin-top: 0px;  
}

.button-bar { 
  grid-area: button-bar; 
  margin-left: 12px;
  color: black;
  align-self: center;

  z-index: 0;
}


.left-pane { 
  grid-area: left-pane;
}

.right-pane {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px 1r;
  gap: 16px 1px;
  grid-template-areas: "spotlight spotlight" "partner-list partner-list";
  grid-area: right-pane;
}

.spotlight { 
  grid-area: spotlight;
}


.partner-list { 
  grid-area: partner-list; 
}

.whitespace-right { 
  grid-area: whitespace-right; 
  /* background-color: var(--color-lightgrey); */
  /* border-left: 1px solid var(--color-border-darkgray); */
}

.whitespace-left { 
  grid-area: whitespace-left; 
  /* background-color: var(--color-lightgrey); */
  /* border-right: 1px solid var(--color-border-darkgray); */
}


.profile { 
  grid-area: profile; 
}

.footer { 
  grid-area: footer; 
  text-align: center;
  font-size: 10pt;
  color: #444444;
}

.shadow00 {
  border-radius: 4px;
  border: 1px solid var(--color-neum-dark);
  /* For Neumorphism Effect */
  background-color: var(--color-neum-mid);
  box-shadow: 9px 9px 16px var(--color-neum-dark), -9px -9px 16px var(--color-neum-light) ;
  /* For Neumorphism Effect */
}

.grid-container *:after { 
 /* content:attr(class); */
 position: absolute;
 top: 0;
 left: 0;
}

.o {
  background-color: rgb(230, 228, 209);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

a {
  color: rgb(36, 3, 3);
}

h1, h2, h3 {
  margin-left: 8px;
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: larger;
  border-bottom: 1px solid rgb(43, 4, 4);
}

.nav-flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.nav-flex-container > div {
  margin-left: 12px;
  text-align: center;
}
.nav-flex-container a{
  color: black;
}

@media screen and (max-width: 860px) {
  .grid-container {
    display: grid;
    grid-template-columns: 0.0fr 1.0fr 1.0fr 0.0fr;
    grid-template-rows: 0.4fr 24px 2.5fr 1fr 0.2fr;
    gap: 20px 0px;
    grid-template-areas: "whitespace-left title title whitespace-right"
          "whitespace-left navigation navigation whitespace-right"
          "whitespace-left left-pane left-pane whitespace-right" 
          "whitespace-left right-pane right-pane whitespace-right"
          "footer footer footer footer";
  
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
  }

  .title {
    /* text-align: center; */
  }
}
