html, body, .grid-container { 
  height: 100%; 
  margin: 0; 

  --color-text-darkgray: #0f0f0f;
  --color-text-gray: #505050;

  --color-lightgrey: #d8d8d8;
  --color-shadow-gray: #f0f0f0;

  --color-neum-light: #f2f2f2;
  --color-neum-mid: #e0e5ec;
  --color-neum-dark: #abbad1;

  --color-neum-mid-darker: #e0e5ec;
  --color-neum-mid-hover: #d2d9e4;

  --color-tct-yellow: #ffff3c;
  --color-tct-yellow-lighter: #ffff3c55;


  background: var(--color-neum-mid);
}

.site-warning {
  width: 240px;
  background-color: rgb(255, 94, 94);
  padding-left: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(427px, 720px) auto;
  grid-template-rows: 0.4fr 24px 2.5fr 0.2fr;
  gap: 20px 20px;
  grid-template-areas: "title title"
        "navigation navigation"
        "left-pane right-pane" 
        "footer footer";

  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
} */

.title { 
  grid-area: title;
  padding: 4px 0px 0px 2px !important;
}

#logo-svg {
  width: 400px;
}

.navigation {
  /* width: 1058px; */
  margin-top: 0px;  

  grid-area: navigation;
  grid-column-start: 1;
  grid-column-end: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "button-bar profile"; 
}

.button-bar { 
  grid-area: button-bar; 
  margin-left: 12px;
  color: black;
  align-self: center;

  z-index: 0;
}


.left-pane { 
  grid-area: left-pane;
}

.right-pane {
  display: grid;
  
  width: 320px;
  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 16px 1px;
  grid-template-areas: "spotlight spotlight" "partner-list partner-list";
  grid-area: right-pane;

}

.spotlight { 
  grid-area: spotlight;
}


.partner-list { 
  grid-area: partner-list; 

  /* overflow-x: hidden; */
}

.partner-flexbox {
  display: flex;
  flex-direction: row;
  
  background-color: #ffffff !important;

  margin-left: 8px;
  margin-right: 8px;

  /* border-top: 1px solid var(--color-text-darkgray);
  border-bottom: 1px solid var(--color-text-darkgray); */
  align-items: center;
}

#partner-logo-img {
  margin: 8px 16px 8px 16px;
  width: 80px;
  height: auto;
  align-self: center;
}

.profile { 
  grid-area: profile; 
}

.footer { 
  grid-area: footer; 
  text-align: center;
  font-size: 10pt;
  color: #444444;

  justify-self: center;
}

.shadow00 {
  border-radius: 4px;
  border: 1px solid var(--color-neum-dark);
  /* For Neumorphism Effect */
  background-color: var(--color-neum-mid);
  box-shadow: 9px 9px 16px var(--color-neum-dark), -9px -9px 16px var(--color-neum-light) ;
  /* For Neumorphism Effect */
}

.grid-container *:after { 
 /* content:attr(class); */
 position: absolute;
 top: 0;
 left: 0;
}

.o {
  background-color: rgb(230, 228, 209);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

a {
  color: rgb(36, 3, 3);
}

h1, h2, h3 {
  margin-left: 8px;
  color: #111111;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: larger;
  /* border-bottom: 1px solid rgb(43, 4, 4); */
}

.nav-flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.nav-flex-container > div {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
.nav-flex-container a{
  color: black;
}

.feed-list {
  padding: 0;
}

.feed-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: flex-start;
  align-items: center;

  list-style-type: none;
  padding: 4px;
}

.flex-thumbnail {
  order: 1;
  width: 120px;
}
.flex-content {
  order: 2;
}

.feed-item-body-list {
  list-style-type: none;
  padding-left: 8px;
}

.feed-img {
  height: 60pt;
  border: 1px solid var(--color-neum-dark);

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feed-list-item {
  margin: 0px 0px;
  padding: 4px 0px;

  /* border-top: 1px solid var(--color-neum-dark); */
  border-bottom: 1px solid var(--color-neum-dark);

  font-size: small;
}

.feed-list > li:first-child {
  border-top: 1px solid var(--color-neum-dark);
}

.feed-item-title {
  color: var(--color-text-darkgray);
  font-size: larger;
}
.feed-item-source-link {
  color: var(--color-text-gray);
}
.feed-item-source-link:hover {
  text-decoration: underline;
}

.feed-item-context {
  color: var(--color-text-gray);
}

.feed-item-tags {
  color: var(--color-text-gray);
  font-style: italic;
}

.tags-flex-container {
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;

  padding: 0;

}
.tag-flex-item {
  background-color: var(--color-tct-yellow-lighter);
  margin-right: 4px;
  padding: 1px 3px;
  border: 1px solid var(--color-neum-dark);
}

.feed-list-item:active {
  background-color: var(--color-neum-mid-hover); 
}

.click-shadow:active {
  background-color: var(--color-neum-mid-hover); 
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
}

.footer-flex-container {

  width: 400px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (min-width: 300px) and (max-width: 740px) {
  
  .right-pane {
    width: 100%;
  }
  
  .grid-container {
    grid-template-areas: "title"
          "navigation"
          "left-pane"
          "right-pane"
          "footer";
  }
}

/* @media only screen and (min-width: 300px) and (max-width: 720px) {
 
  html {
    display: block;
    overflow-x: hidden;

    padding: 0;
    margin: 0;
  }
  body {
    display: block;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 0.0fr 1.0fr 1.0fr 0.0fr;
    grid-template-rows: 0.4fr 24px 2.5fr 1fr 0.2fr;
    gap: 16px 0px;
    grid-template-areas: "title title"
    "navigation navigation"
          "left-pane left-pane" 
          "right-pane right-pane"
          "footer footer footer footer";
  
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

.title {
  grid-area: title;
  padding: 4px 0px 0px 2px;
}


}
 */
